/* GENERAL SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(51, 71, 91, .8);
  font-family: Roboto, sans-serif;
  color: #fff;
}

/* CONTENT */
#list {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  height: 100vh;
  margin: 50px auto 0;
  padding: 20px;
}

main ul li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid rgba(51,71,91, .9);
}

main ul li:last-child {
  border-bottom: 0;
}

main ul li i {
  cursor: pointer;
  color: rgba(196, 200, 206, .5);
}

main ul li i:hover {
  color: rgba(196, 200, 206, 1);
}

main input {
  width: 400px;
  height: 40px;
  margin: 30px auto;
  padding: 10px 25px;
  line-height: 40px;
  outline: none;
  background: rgba(255,255,255, 0.5);
}

main input:hover,
main input:focus {
  background: rgba(255,255,255, 1);
}



/* TEMPLATE */
.template {
  display: none;
}

.template li {
  list-style: none;
}
